/*
 * Some style for the footer
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: "DM Sans", sans-serif;
}

.footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  font-size: 0.85rem;
}

.footer img {
  height: 30px;
  margin-right: 20px;
  max-width: 45px;
}

/* this is mainly for the policy pages */
address {
  white-space: pre-line;
}

.dark-blue {
  /* EGI dark Blue */
  color: #005faa;
}

[data-bs-theme="light"] .bg-body-tertiary {
  /* EGI light gray in light mode */
  background-color: #f7f6f7 !important;
}

[data-bs-theme="dark"] .bg-body-tertiary {
  /* SASS black color in dark mode */
  background-color: #212529 !important;
}
