<!-- htmlhint doctype-first:false -->
{% extends "error.html" %} {% block main %}

<div class="error">
  <h1>Unauthorized!</h1>
  <p>
    You are trying to access a restricted instance of the EGI Notebooks service.
  </p>
  <p>
    Access requires a valid
    <a href="https://docs.egi.eu/users/check-in/signup">EGI account</a>
    and membership of one of the supported VOs.
  </p>
  <p>
    If you think you should be granted access already, please open an issue in
    <a href="https://helpdesk.ggus.eu">GGUS</a>
  </p>
  <p>
    See
    <a href="https://docs.egi.eu/users/dev-env/notebooks/">
      Documentation related to EGI Notebooks</a> about granting access.
  </p>
</div>
{% endblock %}
