<!-- htmlhint doctype-first:false -->
{% extends "templates/page.html" %}
{% set service_name = service_name|default('Notebooks') %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans"/>
<link rel="stylesheet" href="{{ static_url('css/egi.css') }}"/>
<style>
  [data-bs-theme=light] #egi-page-logo,
  [data-bs-theme=light] .jpy-logo {
    content: url({{ static_url('images/egi-logo.svg') }}) !important;
  }
  [data-bs-theme=dark] #egi-page-logo,
  [data-bs-theme=dark] .jpy-logo {
    content: url({{ static_url('images/egi-logo-white.svg') }}) !important;
  }
  [data-bs-theme=light] #cesnet-page-logo {
    content: url({{ static_url('images/cesnet-logo.png') }});
  }
  [data-bs-theme=dark] #cesnet-page-logo {
    content: url({{ static_url('images/cesnet-logo-white.png') }});
  }
</style>
{% endblock %}

{% block title %}EGI {{ service_name }}{% endblock %}

{% block footer %}
<footer class="footer bg-body-tertiary">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <a href="https://www.egi.eu/">
          <img
            alt="EGI logo"
            id="egi-page-logo"/></a>
        <a href="https://www.cesnet.cz/?lang=en">
          <img
            alt="CESNET logo"
            id="cesnet-page-logo"/></a>
          {{ service_name }} is an <a href="https://www.egi.eu">EGI</a> service provided by
        <a href="https://www.cesnet.cz/?lang=en">CESNET</a>
      </div>
      <div class="col-md-6 text-end">
        <a href="https://docs.egi.eu/users/dev-env/notebooks/">User guide</a> |
        <a href="/policies/privacy-policy.html">Privacy Notice</a> |
        <a href="/policies/terms-of-use.html">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
