<!-- htmlhint doctype-first:false -->
{% extends "error.html" %}
{% block main %}
<div class="error">
  <h1>Unauthorized!</h1>
  <p>
    Access to European Open Science Cloud - EU Node Interactive Notebooks is
    restricted to allowed users, please check your permissions at your
    <a href="https://open-science-cloud.ec.europa.eu/">EU Node profile</a>
  </p>
  <p>
    If you think you should be granted access already, please open an issue in
    <a href="https://open-science-cloud.ec.europa.eu/support/helpdesk"
      >the Helpdesk</a
    >
  </p>
</div>
{% endblock %}
