<!-- htmlhint doctype-first:false,id-class-value:false -->
{% extends "templates/page.html" %}
{% set service_name = service_name|default('Notebooks') %}

{% block stylesheet %}
{{ super() }}

<style>
html {
  font-size: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.site-footer-fix {
  margin-top: auto;
}
.container-fix {
  flex-grow: 1;
}
</style>

<link
  rel="stylesheet"
  href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/optional/ecl-ec-default.css"
  integrity="sha256-7XbRWz/KIVcK0oC0bwOCo+I2AudyAMkeyu3L5Wpa1wc= sha384-+KnRIij0RjiqhQ1MN6SG8J1tPISkjN4CghvhKRlobxy/hPbe6ZbO4UHBNmcFuWEO sha512-W7YFpSpRijcAESw/ScePE87EiYwk3kyM2UJhvW9D2eKCfqytMYrq2h8vVw9Ft41bQPXX+esTFR4/g3ykEiibCg=="
  crossorigin="anonymous"
  media="screen"
/>
<link
  rel="stylesheet"
  href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/optional/ecl-reset.css"
  integrity="sha256-kgkV2jwxAv9rV/pEZMO1ZIUGlOeYhR/sWNko+nQzL+U= sha384-V/h7UkJ4neaFSddbrlgsdHZ7Yli4BsWBEzbGY1bL9s//Dne2gMX3qBW2mtGsI7gA sha512-ztGS5PYfTTDqz0ywyhsqxupHv+yX0t2ajqocSE/xviVoxLRZVJj6TARDt25xytzQ/6jP4IEl7nkIL6Ypt4lUQQ=="
  crossorigin="anonymous"
  media="screen"
/>
<link
  rel="stylesheet"
  href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/ecl-ec.css"
  integrity="sha256-EWyRRzWds5Kll0v6q5hOpX/JF7OZ20oTOXC5wweVx1E= sha384-4Ni640a5KqYEDjSOoyKYiBhrHoX0nl8s7ZVTPtbkguA9cJJtWbkbmXm12UO71a0C sha384-pht7Ak0/atyGGU+sNdoGMoYPtcq5gJ9eOEiD8jhbqowXOp04VjhqALtBzjQO+xVa sha512-WxR2fEkr9aF9hu1vMMgSH7UcZZiuIxQJJ5x4T6WPlG5pJYcLywgeHN6rS0T94KoVTMfrC4IZB9rSsJgfXImo4g=="
  crossorigin="anonymous"
  media="screen"
/>
<link
  rel="stylesheet"
  href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/ecl-ec-print.css"
  integrity="sha256-+h9JpKfnsC8n6oaTvvrKOaLro9ki67E1HUFSgh+FxP4= sha384-vH3QMqdGG/7+vk2t/Ai2GZ8refpKk/xVlspeMbdG7WxjPEYIqKmvfRl3PJ6Zb+Kc sha512-3vSGPqgwLC+wl9k+xN+XsAoxvoQGSrGCN6iq/52pCl5daazWFA8QrQkJSmX4bydX8IdOr2d+7K4TKrvnO7OiOw=="
  crossorigin="anonymous"
  media="print"
/>
<link
  rel="stylesheet"
  href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/styles/optional/ecl-ec-default-print.css"
  integrity="sha256-r2h4/l+cHzvLXT3QvfaB7jlmj3L0xwOM83Wo543HE0A= sha384-iE/iHAMCZzQX5+ukUTK7xPB87CoAlgklPyLndBuJlWvwd3JqXO5/GaO2ePOF1pAW
  sha512-wGTofG2I7XVxGV7Lrnpizbzu0rHLtAzmWKpcCudLDJ0sfro2TBqZB1MwkxjTD6LGfkoiC5f5jssXNLHClOiGRQ=="
  crossorigin="anonymous"
  media="print"
/>



{% endblock stylesheet %}

{% block script %}
{{ super() }}
<script
  src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.11.0/ec/scripts/ecl-ec.js"
  integrity="sha256-3ml+N1xH9anWmelzcIUcky/E/V29fpHAmvjc5qcHZzs= sha384-aR3Es/0z8R1Y4mve1kgTY0/X2DSqpmRmmvXgRpTYg0pwT2C8f4UrWMDLXyBYlmJC sha512-TqIr68oz3EDBP2P+W1N4V1k01NSaaVwcJWXNjPRxcQv5fO8iD281WyZkXaSVIp/bhA8SfEqI1QjJ6fjyWzYIJA=="
  crossorigin="anonymous"
></script>
<script>
  ECL.autoInit();
</script>
{% endblock script %}

{% block title %}European Open Science Cloud - EU Node Interactive Notebooks{% endblock title %}

{% block nav_bar %}
<header
  class="ecl-site-header ecl-site-header-with-logo-l ecl-site-header--has-mega-menu"
  data-ecl-auto-init="SiteHeader"
>
  <div class="ecl-site-header__inner">
    <div class="ecl-site-header__background">
      <div class="ecl-site-header__header">
        <div class="ecl-site-header__container ecl-container">
          <div class="ecl-site-header__top" data-ecl-site-header-top>
            <a
              href="https://commission.europa.eu/index_en"
              class="ecl-link ecl-link--standalone ecl-site-header__logo-link"
            >
              <picture class="ecl-picture ecl-site-header__picture">
                <source
                  srcset="{{ static_url('images/logo-ec--en.svg') }}"
                  media="(min-width: 996px)"
                />
                <img
                  class="ecl-site-header__logo-image ecl-site-header__logo-image--l"
                  src="{{ static_url('images/logo-ec--en.svg') }}"
                  alt="European Commission"
                />
              </picture>
            </a>

            <div class="ecl-site-header__action">
              {% if user %}
              <div class="ecl-site-header__login-container">
                <a
                  class="ecl-button ecl-button--tertiary ecl-site-header__login-toggle"
                  aria-controls="login-box-id"
                  data-ecl-login-toggle
                  aria-expanded="false"
                  ><svg
                    class="ecl-icon ecl-icon--s ecl-site-header__icon"
                    focusable="false"
                    aria-hidden="false"
                    role="img"
                  >
                    <title>Logged in</title>
                    <use
                      xlink:href="{{ static_url('images/icons.svg') }}#logged-in"
                    ></use></svg
                  >Logged in</a
                >
                <div
                  id="login-box-id"
                  class="ecl-site-header__login-box"
                  data-ecl-login-box
                >
                  <p class="ecl-site-header__login-description">
                    Logged in as {{ user.name }}
                  </p>
                  <hr class="ecl-site-header__login-separator" />
                  <a
                    href="{{ logout_url }}"
                    class="ecl-link ecl-link--standalone"
                    >Log out</a
                  >
                </div>
              </div>
              {% else %}
              <div class="ecl-site-header__login-container">
                <a
                  class="ecl-button ecl-button--tertiary ecl-site-header__login-toggle"
                  href="{{ authenticator_login_url }}"
                  data-ecl-login-toggle
                  ><svg
                    class="ecl-icon ecl-icon--s ecl-site-header__icon"
                    focusable="false"
                    aria-hidden="false"
                    role="img"
                  >
                    <title>Log in</title>
                    <use
                      xlink:href="{{ static_url('images/icons.svg') }}#log-in"
                    ></use></svg
                  >Log in</a
                >
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ecl-site-header__banner">
      <div class="ecl-container">
        <div class="ecl-site-header__site-name">
          European Open Science Cloud - EU Node Interactive Notebooks
        </div>
      </div>
    </div>
  </div>
  <nav
    class="ecl-mega-menu"
    data-ecl-mega-menu
    data-ecl-auto-init="MegaMenu"
    data-ecl-mega-menu-label-open="Menu"
    data-ecl-mega-menu-label-close="Close"
    aria-expanded="false"
    role="navigation"
    id="demo"
    aria-label="Main navigation"
  >
    <div class="ecl-mega-menu__overlay"></div>
    <div class="ecl-container ecl-mega-menu__container">
      <button
        class="ecl-button ecl-button--tertiary ecl-mega-menu__open ecl-button--icon-only"
        type="button"
        data-ecl-mega-menu-open
        aria-expanded="false"
      >
        <span class="ecl-button__container"
          ><svg
            class="ecl-icon ecl-icon--m ecl-button__icon"
            focusable="false"
            aria-hidden="true"
            data-ecl-icon
          >
            <use
              xlink:href="{{ static_url('images/icons.svg') }}#hamburger"
            ></use></svg
          ><svg
            class="ecl-icon ecl-icon--m ecl-button__icon"
            focusable="false"
            aria-hidden="true"
            data-ecl-icon
          >
            <use
              xlink:href="{{ static_url('images/icons.svg') }}#close"
            ></use></svg
          ><span class="ecl-button__label" data-ecl-label="true"
            >Menu</span
          ></span
        >
      </button>
      <section class="ecl-mega-menu__inner" data-ecl-mega-menu-inner>
        <header class="ecl-mega-menu__inner-header">
          <button
            class="ecl-button ecl-button--tertiary ecl-mega-menu__back"
            type="submit"
            data-ecl-mega-menu-back
          >
            <span class="ecl-button__container"
              ><svg
                class="ecl-icon ecl-icon--xs ecl-icon--rotate-270 ecl-button__icon"
                focusable="false"
                aria-hidden="true"
                data-ecl-icon
              >
                <use
                  xlink:href="{{ static_url('images/icons.svg') }}#corner-arrow"
                ></use></svg
              ><span class="ecl-button__label" data-ecl-label="true"
                >Back</span
              ></span
            >
          </button>
        </header>
        <ul class="ecl-mega-menu__list">
          <li
            class="ecl-mega-menu__item"
            data-ecl-mega-menu-item
            id="ecl-mega-menu-item-home-0"
          >
            <a
              href="{{ base_url }}home"
              class="ecl-link ecl-link--standalone ecl-mega-menu__link"
              data-ecl-mega-menu-link
              id="ecl-mega-menu-item-home-0-link"
              >Home</a
            >
          </li>
          {% if user %}
          <li
            class="ecl-mega-menu__item"
            data-ecl-mega-menu-item
            id="ecl-mega-menu-item-token-0"
          >
            <a
              href="{{ base_url }}token"
              class="ecl-link ecl-link--standalone ecl-mega-menu__link"
              data-ecl-mega-menu-link
              id="ecl-mega-menu-item-token-0-link"
              >Token</a
            >
          </li>
          {% if 'admin-ui' in parsed_scopes %}
          <li
            class="ecl-mega-menu__item"
            data-ecl-mega-menu-item
            id="ecl-mega-menu-item-admin-0"
          >
            <a
              href="{{ base_url }}admin"
              class="ecl-link ecl-link--standalone ecl-mega-menu__link"
              data-ecl-mega-menu-link
              id="ecl-mega-menu-item-admin-0-link"
              >Admin</a
            >
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </section>
    </div>
  </nav>
</header>
{% endblock nav_bar %}

{% block announcement %}
{% if announcement %}
<div
  class="ecl-notification ecl-notification--info"
  data-ecl-notification
  role="alert"
  data-ecl-auto-init="Notification"
>
  <svg
    class="ecl-icon ecl-icon--l ecl-notification__icon"
    focusable="false"
    aria-hidden="false"
    role="img"
  >
    <title>Information</title>
    <use xlink:href="{{ static_url('images/icons.svg') }}#information"></use>
  </svg>
  <div class="ecl-notification__content">
    <button
      class="ecl-button ecl-button--tertiary ecl-notification__close ecl-button--icon-only"
      type="button"
      data-ecl-notification-close
    >
      <span class="ecl-button__container"
        ><span class="ecl-button__label" data-ecl-label="true">Close</span
        ><svg
          class="ecl-icon ecl-icon--m ecl-button__icon"
          focusable="false"
          aria-hidden="true"
          data-ecl-icon
        >
          <use
            xlink:href="{{ static_url('images/icons.svg') }}#close"
          ></use></svg
      ></span>
    </button>
    <div class="ecl-notification__title">Announcement</div>
    <div class="ecl-notification__description">{{ announcement | safe }}</div>
  </div>
</div>
{% endif %}
{% endblock announcement %}

{% block footer %}
<footer class="ecl-site-footer site-footer-fix">
  <div class="ecl-container ecl-site-footer__container">
    <div class="ecl-site-footer__row">
      <div class="ecl-site-footer__column">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--site-info"
        >
          <div class="ecl-site-footer__title">
            <a
              href="{{ base_url }}"
              class="ecl-link ecl-link--standalone ecl-site-footer__title-link"
            >
              European Open Science Cloud - EU Node Interactive Notebooks</a
            >
          </div>
          <div class="ecl-site-footer__description">
            This site is managed by:<br />Directorate-General for
            Communications Networks, Content and Technology
          </div>
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/accessibility-statement"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Accessibility</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div class="ecl-site-footer__section">
          <div class="ecl-site-footer__title">Contact us</div>
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/helpdesk"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Contact our Helpdesk</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/frequently-asked-questions"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >FAQs</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/security-team"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Security Team</a
              >
            </li>
          </ul>
        </div>
        <div class="ecl-site-footer__section">
          <div class="ecl-site-footer__title">Policy statement</div>
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/acceptable-use-policy"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >EOSC EU Node Acceptable Use Policy</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/support/user-access-policy"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >EOSC EU Node User Access Policy</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://open-science-cloud.ec.europa.eu/privacy-statement"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >EOSC EU Node Privacy Statement</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div class="ecl-site-footer__section">
          <div class="ecl-site-footer__title">About us</div>

          <div class="ecl-site-footer__description">
            The European Open Science Cloud aims to establish a federation of
            infrastructures facilitating effortless access to interoperable
            research assets and enhanced services spanning geographical
            boundaries and diverse academic fields.
          </div>
        </div>
      </div>
    </div>
    <div class="ecl-site-footer__row">
      <div class="ecl-site-footer__column">
        <div class="ecl-site-footer__section">
          <a
            href="https://commission.europa.eu/index_en"
            class="ecl-link ecl-link--standalone ecl-site-footer__logo-link"
          >
            <picture class="ecl-picture ecl-site-footer__picture">
              <source
                srcset="{{ static_url('images/logo-ec-negative--en.svg') }}"
                media="(min-width: 996px)"
              />
              <img
                class="ecl-site-footer__logo-image"
                src="{{ static_url('images/logo-ec-negative--en.svg') }}"
                alt="European Commission"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--split-list"
        >
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/about-european-commission/contact_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Contact the European Commission</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search?page=0&institutions=european_commission"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Follow the European Commission on social media</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/resources-partners_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Resources for partners</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="ecl-site-footer__column">
        <div
          class="ecl-site-footer__section ecl-site-footer__section--split-list"
        >
          <ul class="ecl-site-footer__list">
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/cookies_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Cookies</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/privacy-policy_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Privacy policy</a
              >
            </li>
            <li class="ecl-site-footer__list-item">
              <a
                href="https://commission.europa.eu/legal-notice_en"
                class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                >Legal notice</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
